<!-- <div class="container">
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Gemder</th>
            <th>Department</th>
            <th>Reporting TO</th>
            <th>Contact Number</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <ng-container *ngIf="employeeList.length>0">
                        <a href="">
                           <i class="fa fa-edit"></i>Edit
                        </a>
                        <a href="">
                            <i class="fa fa-trash"></i>delete
                        </a>
                    </ng-container>
                </td>
            </tr>
            <tr ><div class="text-center" >No Record Found.</div></tr>
            <tr>
                <button (click)="addRecord()">Add New Record</button>
            </tr>
        </tbody>
    </table>
</div> -->